.settings {
  @apply flex h-full;

  .leftPanel {
    background-color: hsl(var(--setting-list-panel-bg, var(--list-panel-bg)));
    color: hsl(var(--setting-list-panel-fg, var(--list-panel-fg)));
  }

  .resizeHandler {
    @apply lg:block;
    position: relative;
    border-right: 1px solid
      hsl(var(--setting-list-panel-border, var(--app-border)));
  }

  .menuActive {
    @apply absolute inset-0 -left-3 h-full w-[calc(100%+24px)] rounded-md;
    background-color: hsl(
      var(--setting-list-panel-active-bg, var(--app-primary), 15%)
    );
  }

  .listItem {
    @apply flex w-full items-start justify-between py-4;
    border-bottom: 1px solid hsl(var(--setting-item-border, var(--app-border)));
  }

  .listItemTitle {
    @apply font-bold capitalize;
    color: hsl(var(--setting-list-title));
  }

  .listItemWrapper {
    @apply w-full pr-6 md:mt-2 md:pr-10;
  }

  .listItemDescription {
    @apply mt-1 leading-relaxed;
    color: hsl(var(--setting-list-item-description, var(--app-muted)));
  }
}
