@import "../../styles/bases.scss";

.btn {
  @apply inline-flex items-center justify-center px-4 font-semibold transition-all;

  &:focus,
  &:focus-within {
    @apply outline-2 outline-offset-4;
  }
  &:hover {
    filter: brightness(95%);
  }

  // Primary
  &--primary {
    @apply text-white;
    background-color: hsl(var(--app-primary));

    // Variant soft primary
    &.btn--soft {
      background-color: hsl(var(--app-primary), 10%);
      color: hsl(var(--app-primary));
      &:hover {
        background-color: hsl(var(--app-primary), 20%);
      }
    }

    // Variant outline primary
    &.btn--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--app-primary));
      color: hsl(var(--app-primary));
      &:hover {
        background-color: hsl(var(--app-primary), 5%);
      }
    }
  }

  // Secondary
  &--secondary {
    background-color: hsl(var(--app-secondary), 10%);
    &:hover {
      filter: brightness(65%);
    }

    // Variant outline secondary
    &.btn--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--app-secondary));
      &:hover {
        background-color: hsl(var(--app-secondary), 5%);
      }
    }
  }

  // Destructive
  &--destructive {
    @apply text-white;
    background-color: hsl(var(--app-destructive));

    // Variant soft destructive
    &.btn--soft {
      background-color: hsl(var(--app-destructive), 10%);
      color: hsl(var(--app-destructive));
      &:hover {
        background-color: hsl(var(--app-destructive), 20%);
      }
    }

    // Variant outline destructive
    &.btn--outline {
      background-color: transparent;
      border: 1px solid hsl(var(--app-destructive));
      color: hsl(var(--app-destructive));
      &:hover {
        background-color: hsl(var(--app-destructive), 5%);
      }
    }
  }

  // Size
  &--small {
    @apply h-8 px-3;
    border-radius: var(--app-radius-small);
  }

  &--medium {
    @apply h-9;
    border-radius: var(--app-radius-medium);
  }

  &--large {
    @apply h-11;
    border-radius: var(--app-radius-large);
  }

  // disabled
  &:disabled {
    background-color: hsl(var(--app-secondary), 30%);
    color: hsl(var(--app-secondary));
    pointer-events: none;
    @apply opacity-50;
  }

  &--block {
    width: 100%;
  }
}
